// Colors

$color-branding: #20B526;
$color-primary: #2C742F;
$color-secondary: #84D187;

$color-text-primary: #666666;
$color-text-secondary: #5e5454;
$color-text-tertiary: #999999;
$color-text-quaternary: #808080;
$color-text-quinary: #4d4d4d;

$color-heading-primary: #1a1a1a;

$color-bg-primary: #fff;
$color-bg-secondary: #F2F2F2;
$color-bg-tertiary: #333;
$color-bg-quaternary: #f7f7f7;
$color-bg-quinary: #e6e6e6;

$color-white: #fff;
$color-black: #000;

$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-pinterest: #bd081c;
$color-instagram: #e4405f;


// Paddings
