// Colors

$color-branding: #20B526;
$color-primary: #2C742F;
$color-secondary: #84D187;

$color-text-primary: #666666;
$color-text-secondary: #1A1A1A;
$color-text-tertiary: #999999;
$color-text-quaternary: #808080;

$color-bg-primary: #fff;
$color-bg-secondary: #F2F2F2;

$color-white: #fff;
$color-black: #000;


// Paddings
