.header {
    &__contact {
        background-color: $color-bg-secondary;
        padding: .75rem 0;
    }
    &__search {
        padding: 1.25rem 0;

        .search_form {
            min-width: 65%;

            @media only screen and (max-width: 768px) {
                width: 100%;
            }

            .form-select, .form-control {
                border-color: $color-bg-secondary;
            }

            .form-select, .form-control, .searchButton {

                &:focus, &:active {
                    box-shadow: none;
                }
            }

            .form-select  {
                flex: 0 1 auto;
                width: 160px;
                color: $color-text-secondary;
                background-color: $color-bg-secondary;

                @media only screen and (max-width: 576px) {
                    flex: 1 1 auto;
                    width: 100%;
                }
            }

            .form-control {
                @media only screen and (max-width: 576px) {
                    width: 100%;
                }
            }

            .searchButton {
                background: $color-branding;
                color: $color-white;
            }
        }

        .icons a {
            position: relative;

            .cartItemCount {
                position: absolute;
                right: 0;
                top: -2;
                color: $color-white;
                background: $color-primary;
                height: 18px;
                width: 18px;
                text-align: center;
                padding-top: 3px;
                font-size: .625rem;
                border-radius: 50%;
            }
        }
    }
    &__nav .navbar {
        background: $color-bg-tertiary;
        color: $color-white;
        padding: 0.75rem 0;

        .navbar-toggler  {
            position: relative;
            padding: 1.4rem 1.7rem;

            &[aria-expanded=true]{
                .navbar-toggler-icon {
                    transform: rotate(225deg);
                    &::after {
                        top: 44%;
                        width: 30px;
                        transform: rotate(270deg);
                    }
                    &::before {
                        display: none;
                    }
                }
            }

            .navbar-toggler-icon {
                position: absolute;
                top: 50%;
                left: 20%;
                width: 30px;
                height: 2px;
                background: $color-white;
                transition: all .2s ease-in-out;
                transform: rotate(0deg);

                &::before, &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 2px;
                    background: $color-white;
                    transition: all .2s ease-in-out;
                    transform: rotate(0deg);
                }
                &::before {
                    top: -500%;
                    width: 34px;
                }
                &::after {
                    top: 500%;
                    width: 26px;
                }
            }
        }
        .nav-item {

            a.nav-link {
                color: $color-text-tertiary;
                padding: 0 .75rem;

                @media only screen and (max-width: 768px) {
                    padding: .75rem;
                }

                &.active {
                    color: $color-white;
                }

                &.dropdown-toggle::after {
                    border-color: $color-text-tertiary;
                }
            }
        }
        .phoneInfo .phone {
            color: $color-white;
        }
    }
    &__location {
        padding: 1.25rem 0;

        .dir {
            color: $color-text-tertiary;

            a.page {
                color: $color-text-quaternary;
            }

            &.active a.page {
                color: $color-primary;
            }
        }
    }
}
.dropdown-toggle::after {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg) translateY(40%);
}
