@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}
p {
    margin: 0;
    color: $color-text-tertiary;
}
p,
.header__nav a,
.header__location,
.accordion {
    font-size: 0.875rem;
    line-height: 150%;
}
.accordion-button {
    font-size: 1rem;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 3rem;
    font-weight: 600;
    color: $color-heading-primary;
}
h3 {
    font-size: 2rem;
    font-weight: 600;
    color: $color-heading-primary;
}
input.form-control:focus, input.form-control:active {
    box-shadow: none;
}
.header__contact,
.header__contact .btn {
    font-size: 0.75rem;
    line-height: 130%;
}
.header__search {
    color: $color-text-secondary;

    .logo {
        font-family: 'Rubik', sans-serif;
        font-size: 2rem;
    }
    .form-select, .form-control, .searchButton {
        font-size: 0.875rem;
    }
}
