@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}
p {
    font-size: 0.875rem;
}
a {
    text-decoration: none;
}
.header__contact,
.header__contact .btn {
    font-size: 0.75rem;
    line-height: 130%;
}
.header__search {
    color: $color-text-secondary;

    .logo {
        font-size: 2rem;
    }
    .form-select, .form-control, .searchButton {
        font-size: 0.875rem;
    }
}
.header__nav a {
    font-size: 0.875rem;
}
