.hero {

    &__faq {
        .accordion .accordion-item{
            .accordion-button {
                background: $color-white;
                color: $color-primary;

                border: 1px solid $color-primary;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                
                position: relative;

                &:focus, &:active {
                    box-shadow: none;
                }

                &::after {
                    width: 2rem;
                    height: 2rem;
                    background-image: url("../images/icons/Vectorplus.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: .56rem;
                    transition: transform .2s ease-in-out;
                    border-radius: 50%;
                    background-color: $color-bg-secondary;
                }     

                &.collapsed {
                    background: $color-bg-secondary;
                    color: $color-heading-primary;
                    
                    border: 1px solid $color-bg-secondary;
                    border-radius: 5px;

                    &::after {
                        background-color: white;
                    }
                }
            }
            .accordion-body {
                border: 1px solid $color-primary;
                border-top: 0;

                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    &__image img {
        height: 100%;
        
        @media only screen and (max-width: 768px) {
            height: auto;
            width: 100%;
        }
    }
}

.newsletter {
    background: $color-bg-quaternary;
    padding: 2.5rem 0;
    

    .form {
        .form-control, .btn {
            border-radius: 2.875rem;
        }
        .form-control {
            transform: translateX(2rem);
            background: $color-bg-quinary;
            border: none;
        }
        
        .btn-subscribe {
            transform: translateX(-0.875rem);
            color: $color-white;
            background-color: $color-bg-tertiary;
        }
    }

    .social {

        
        .icon {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            
            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .2s ease-in-out;

            svg {
                fill: $color-text-quinary;
            }
            &:hover svg {
                fill: $color-white;
            }

            &__facebook {
                &:hover {
                    background-color: $color-facebook;
                }
            }
            &__twitter {
                &:hover {
                    background-color: $color-twitter;
                }
            }
            &__pinterest {
                &:hover {
                    background-color: $color-pinterest;
                }
            }
            &__insta {
                &:hover {
                    background-color: $color-instagram;
                }
            }
        }
    }

    
}
