.hero {

    &__faq {
        .accordion .accordion-item{
            .accordion-button {
                background: $color-white;
                color: $color-primary;

                border: 1px solid $color-primary;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                
                position: relative;

                &:focus, &:active {
                    box-shadow: none;
                }

                &::after {
                    width: 2rem;
                    height: 2rem;
                    background-image: url("../images/icons/Vectorplus.svg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: .56rem;
                    transition: transform .2s ease-in-out;
                    border-radius: 50%;
                    background-color: $color-bg-secondary;
                }     

                &.collapsed {
                    background: $color-bg-secondary;
                    color: $color-heading-primary;
                    
                    border: 1px solid $color-bg-secondary;
                    border-radius: 5px;

                    &::after {
                        background-color: white;
                    }
                }
            }
            .accordion-body {
                border: 1px solid $color-primary;
                border-top: 0;

                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    &__image img {
        height: 100%;
        
        @media only screen and (max-width: 768px) {
            height: auto;
            width: 100%;
        }
    }
}
